// colori
$footer-color: #303030;
$blue: #0282F9; 
$bg-black: #1C1C1C;

// sizing
$ul-font-size: 12px;
$ul-font-weight:500;
$section-padding: 40px 0;

// mixins
@mixin btn{
    text-transform: uppercase;
    padding: 8px;
    background-color: rgba(0,0,0,0);
    border: 2px solid $blue;
    color: white;
    cursor: pointer;
    &:hover{
        color: $blue;
        border-color: white;
    }
}
@mixin flex-row-between {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
};

@mixin flex-row-around {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
};

@mixin wrapper {
    width: 75%;
    margin: 0 auto;
};

@mixin flex-col-between {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
};

// template per ul footer
@mixin footer-middle-ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    li:first-of-type{
        font-size: 1.2em;
        color: white;
        margin-bottom: 15px;
        &:hover{
            color: red;
        }
    }
    li{
        font-size: 0.7em;
        color: #838483;
        cursor: pointer;
        &:hover{
            color: $blue;
        }
    }
}