@mixin flex-row-between {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
};
@mixin flex-row-around {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
};
@mixin wrapper {
    width: 75%;
    margin: 0 auto;
};
@mixin flex-col-between {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
};

$blue: #0282F9; 
$bg-black: #1C1C1C;

@mixin footer-middle-ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    li:first-of-type{
        font-size: 1.2em;
        color: white;
    }
    li{
        font-size: 0.7em;
        color: #838483;
        cursor: pointer;
        &:hover{
            color: $blue;
        }
    }
}